<nav>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quis, quidem placeat aspernatur vero, hic, quam eum
        excepturi fuga ratione dolores explicabo saepe illum itaque repellendus deserunt quibusdam dolorum harum.</li>
    </ul>

  </nav>